<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title>买入股票</title>  
    <link rel="shortcut icon" th:href="@{/common/images/headlogo.ico}"/>         
    <link th:href="@{/hplus/css/plugins/layui/css/layui.css?v=4.1.0}" rel="stylesheet" /> 
    <style type="text/css">
	    .layui-form-item .layui-inline {
		    margin-bottom: 5px;
		    margin-right: -5px;
		}         
    </style> 
</head>   

<body>
	<form class="layui-form" action="" lay-filter="userForm" style="margin-top:15px"> 
	
	  <div class="layui-form-item">
	    <label class="layui-form-label">股票选择</label>  
	    <div class="layui-input-inline" style="width:430px">     
	      <select name="basicStockId" id="basicStockId" lay-verify="basicStockId">
			<option value=""></option>
		  </select>
	    </div>   
	  </div>       
	     
	  <div class="layui-form-item">
	    <label class="layui-form-label">买入日期</label>
	    <div class="layui-input-block" style="width:430px">
	      <input type="text" name="bulidDate" id="bulidDate" lay-verify="bulidDate" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
	    </div>
	  </div>
	 
	  <div class="layui-form-item">   
	   	<label class="layui-form-label">买入数量</label>  
	    <div class="layui-inline">
	       <button type="button" class="layui-btn layui-btn-primary num_action" onclick="clickDo()">-</button>    
	    </div> 
	    <div class="layui-inline" style="width:343px">           
	       <input type="text" name="holdNum" id="holdNum" style="width:343px;text-align:center" lay-verify="holdNum" placeholder="请输入整百数" autocomplete="off" class="layui-input" value="100"  oninput="holdNumChange()" onporpertychange="holdNumChange()">   
	    </div>           
	    <div class="layui-inline">
	       <button type="button" class="layui-btn layui-btn-primary num_action" onclick="clickUp()">+</button>                 
	    </div>                
	  </div> 
	  
	  <div class="layui-form-item">   
	   	<label class="layui-form-label">买入价格</label>  
	    <div class="layui-input-block" style="width:430px">
	      <input type="text" name="buyPrice" id="buyPrice" lay-verify="buyPrice" placeholder="请输入买入价格" autocomplete="off" class="layui-input">
	    </div>
	  </div>  
	  
	  <div class="layui-form-item">   
	   	<label class="layui-form-label">手续费</label>  
	    <div class="layui-input-block" style="width:430px">
	      <input type="text" name="servicePrice" id="servicePrice" lay-verify="servicePrice" placeholder="请输入手续费" autocomplete="off" class="layui-input">
	    </div>
	  </div>    
	  
	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button type="submit" class="layui-btn" lay-submit="" lay-filter="saveData">保存</button>
	    </div>
	  </div>     
	</form>       
	
    <script th:src="@{/hplus/css/plugins/layui/layui.js}"></script>
	<script>     
	layui.use(['form', 'laydate'], function(){    
		  var form = layui.form,
		  laydate = layui.laydate,
		  layer = layui.layer;
		  laydate.render({//日期
		    elem: '#bulidDate',
		    type: 'datetime'
		  });      
          initStockCode();     
          
          form.verify({  //自定义验证规则
        	basicStockId: function(value){    
           	  value = value.trim();
              if(value.length == 0){
                    return '股票选择不能为空';
              }            
            },
            bulidDate: function(value){    
        	  value = value.trim();
              if(value.length == 0){
                 return '买入日期不能为空';
              }       
            },
            holdNum: function(value){   
        	  value = value.trim();
        	  if(value.length == 0){
                  return '买入数量不能为空';
              } 
        	  var tempValue = parseInt(value);
        	  if(tempValue%100 !=0){
        		  return '请输入整百数';   
        	  }
            },
            buyPrice: function(value){   
          	  value = value.trim();
          	  if(value.length == 0){
                    return '买入价格不能为空';
              }  
        	  var patrn = /^\d+(\.\d+)?$/;
        	  if (!patrn.exec(value)){
        	      return '请输入合法的金额';
        	  }     
            },
            servicePrice: function(value){   
              value = value.trim();
              if(value.length == 0){
                      return '手续费不能为空';
              }  
          	  var patrn = /^\d+(\.\d+)?$/;
          	  if (!patrn.exec(value)){
          	      return '请输入合法的金额';
          	  }     
            }       
          });
        
		  //监听提交
		  form.on('submit(saveData)', function(data){  
			  saveData(data.field);
			  return false;       
		  });   
	 }); 
	
	function initStockCode(){
		layui.$.ajax({  
   			url:"/basicStock/basicStockAllList",
   			type: 'POST',
   			async: false,
   			success:function(data){
	        	if(null != data){  
	   			 	data = JSON.parse(data);        
	        		for(var i = 0;i < data.length;i++){
	        			layui.$('#basicStockId').append(new Option(data[i].stockName, data[i].id));// 下拉菜单里添加元素
	        		}    
	        		layui.form.render("select");               
	        	}else{
	        		layer.msg('股票数据初始化失败',{
	              		 icon: 5,   //1成功（绿色）2错误（红叉） 3问号（黄色）4 锁（灰色）  5伤心脸（红色）  
	              		 time: 1000 //2秒关闭（如果不配置，默认是3秒）
	                });
	        	}    
   			},  
   			error:function(errorData){
        		layer.msg('股票数据初始化错误',{
              		 icon: 2,   //1成功（绿色）2错误（红叉） 3问号（黄色）4 锁（灰色）  5伤心脸（红色）  
              		 time: 1000 //2秒关闭（如果不配置，默认是3秒）
                }); 
   			}
   		});    
	}
	
	function saveData(data){          
		layui.$.ajax({  
   			url:"/holdStock/saveBuyData",
   			data:{"data":JSON.stringify(data)},
   			type: 'POST',
   			success:function(data){
   				var message = JSON.parse(data);  
	        	if(message.type == '200'){  
	        		layer.msg('股票购买记录添加成功',{
	              		 icon: 1,   //1成功（绿色）2错误（红叉） 3问号（黄色）4 锁（灰色）  5伤心脸（红色）  
	              		 time: 1000 //2秒关闭（如果不配置，默认是3秒）
	                    }, function(){
	                       var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
	                       parent.layer.close(index); //再执行关闭
	                  });        
	        	}else{
	        		layer.msg('股票购买记录添加失败',{
	              		 icon: 5,   //1成功（绿色）2错误（红叉） 3问号（黄色）4 锁（灰色）  5伤心脸（红色）  
	              		 time: 2800 //2秒关闭（如果不配置，默认是3秒）
	                });   
	        	} 
   			},  
   			error:function(errorData){
        		layer.msg('股票购买记录添加错误',{
              		 icon: 2,   //1成功（绿色）2错误（红叉） 3问号（黄色）4 锁（灰色）  5伤心脸（红色）  
              		 time: 1000 //2秒关闭（如果不配置，默认是3秒）
                }); 
   			}
   		});    
	 }
	
	 function holdNumChange(){      
		var holdNum = layui.$('#holdNum').val().trim();  
		if(!/^\d+$/.test(holdNum)){           
			layer.msg('买入数量请输入整数',{
         		 icon: 2,   //1成功（绿色）2错误（红叉） 3问号（黄色）4 锁（灰色）  5伤心脸（红色）  
         		 time: 1000 //2秒关闭（如果不配置，默认是3秒）
            }, function(){
            	 layui.$('#holdNum').val(100);   
           }); 
		   return;
		}
	 }
	 
	 function clickUp(){
		 var holdNum = layui.$('#holdNum').val().trim();  
		 layui.$('#holdNum').val(parseInt(holdNum)+100);            
	 }
	 
	 function clickDo(){
		 var holdNum = layui.$('#holdNum').val().trim();
		 var tempHoldNum = parseInt(holdNum)-100;
		 if(tempHoldNum <= 0){
			 tempHoldNum = 100;
		 }
		 layui.$('#holdNum').val(tempHoldNum);                
	 }

	</script>

</body>

</html>
