<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>  
<title>授权系统</title>  
<link rel="shortcut icon" th:href="@{/common/images/headlogo.ico}"/>                   
<!-- miniui所需资源 -->
<script th:src="@{/plugins/miniui/boot.js}" type="text/javascript"></script>
<script th:src="@{/plugins/miniui/index-layout.js}" type="text/javascript"></script>
<!-- 公共css -->  
<link rel="stylesheet" th:href="@{/plugins/miniui/miniui/res/font-awesome/css/font-awesome.min.css}"/>      
<link rel="stylesheet" th:href="@{/common/css/public.css}"/>  
<link rel="stylesheet" th:href="@{/common/css/fileIcon.css}"/>  
</head>   
<body style="overflow:auto;width:100%;height:100%;">      
    
    <!-- 菜单栏开始 -->      
	<div style="width:99%;height:100%;margin-left:10px;padding-top:10px;">    
	          欢迎使用清云股票分析预警系统             
	<!-- 	     1、风险投资的成功需要战略的眼光与高超的战术，更需要执行的纪律与等待机会出现中超人的耐心。 
		<br/><br/>2、如果我们有坚定的长期投资期望，那么短期的价格波动对我们来说就毫无意义，除非它们能够让我们有机会以更便宜的价格增加股份。 
		<br/><br/>3、投资者重红利，投机者重消息。 
		
		<br/><br/>4、以市场为师，践学不悔，敏学不倦，谦学不怠。 
		
		<br/><br/>5、作为一个市场参与者，我关心的是市场价值，即追求利润的最大化；作为一个公民，我关心的是社会价值，即人类和平、思想自由和社会正义。 
		
		<br/><br/>6、能够亏损的最大范围，就是你能够投资的最大极限。 
		
		<br/><br/>7、高位十字星，不走变穷人。 
		
		<br/><br/>8、不要轻易地去劝别人买卖股票，股价最不容易预测，以免出错招怨。 
		
		<br/><br/>9、高位跳空向上走，神仙招手却不留。    
		
		<br/><br/>10、投资者应考虑企业的长期发展，而不是股票市场的短期前景。价格最终将取决于未来的收益。在投资过程中如同棒球运动中那样，要想让记分牌不断翻滚，你就必须盯着球场而不是记分牌。 
 -->	<!-- 	
		<br/>11、生当买股票，死亦有跌停！问君能有几多愁，恰似a股跌停绿油油！ 
		
		<br/>12、底部跳空向上走，天打雷劈不放手。 
		
		<br/>13、行情总在绝望中产生，猜疑中成长，欢乐中死亡。 
		
		<br/>14、买入前要小心求证，买入时要三思而行。 
		
		<br/>15、预测与实战截然区分，预测海阔天空，实战机敏灵活。 
		
		<br/>16、先知先觉者大口吃肉，后知后觉者啃点骨头，不知不觉者则必须最后掏钱、割肉，这是风险投资市场永远颠扑不破的铁律！ 
		
		<br/>17、不要把所有的财产都投入股市，更切忌借贷资金购买股票。 
		
		<br/>18、买股票若仅是为了"赚钱"，那就是踏出了错误的第一步，因为你还要注意其"增加了你生活上的情趣。"在股票市场中，股价的涨涨跌跌是很正常的事，容易紧张的人最好不要搞股市投资，以免金钱和身体均遭损失。 
		
		<br/>19、当有机会获利时，千万不要畏缩不前。当你对一笔交易有把握时，给对方致命一击，即做对还不够，要尽可能多地获取。 
		
		<br/>20、周k线走出第三次金叉，买入此股就发家。 
		
		<br/>21、任何投资都需具备智慧性的忍耐力。 
		
		<br/>22、感情用事是股市中的致命伤。 
		
		<br/>23、在风险投资与投机中，战略与战术的完美结合是一门投资的艺术：战略解决方向与时间跨度的问题，战术解决量化的目标与进出时点的问题。 
		
		<br/>24、股市没有超凡神人，股票酬懒股道酬勤；股市之道至简至易，运用之妙存乎一心。 
		
		<br/>25、即使做了死多头或死空头，关键时也要勇于做滑头。 
		
		<br/>26、此时卖掉损失小，斤斤计较必深套。 
		
		<br/>27、在风险市场的投资活动中，规避和防范风险是第一要务，也是取得长期成功的保障，顺应价格运动趋势从而顺势而为是第二要务，也是市场生存的不二法则，牢牢把握这二点是走向投资成功之路的必备前提。 
		
		<br/>28、我生来一贫如洗，但决不能死时仍旧贫困潦倒！ 
		
		<br/>29、能量朝高走前面，日后股价节节高。 
		
		<br/>30、股票跌停了，你可以选择打一个电话，你是要打给110还是120？ 
		
		<br/>31、价值发现在于地量里。 
		
		<br/>32、不急功近利，不三心二意，不沉溺玩股。 
		
		<br/>33、一旦冲破压力线，托着股价上天庭。 
		
		<br/>34、股民是否具备经商的经验，与投资股票能否获利并没有必然的联系。 
		
		<br/>35、承认错误是件值得骄傲的事情。我能承认错误，也就会原谅别人犯错。这是我与他人和谐共事的基础。犯错误并没有什么好羞耻的，只有知错不改才是耻辱。 
		
		<br/>36、看家十字星，脚底须抹油。 
		
		<br/>37、股票就是我的王国，散户就是我的兄弟。有我在你们就可以藐视一切机构，藐视一切主力，他们在我剑下除了颤抖什么都不会。 
		
		<br/>38、风险投资，技术、原则和人性，这三者密不可分，缺一不可。技术所解决的是“怎么做”的问题，原则所解决的是如果做错后“怎么办”的问题，而人性所解决的则是能否具有铁的纪律严格执行原则的问题。建仓时不冲动，平仓时必果断；侥幸是加大风险的罪魁，犹豫则是错失良机的祸首；这些话说起来很简单，但又真正能有几个人做到了呢？所以，风险投资心态第一，原则第二，技术则只能屈居第三了。要想成为一个成功的投资者，就必须不断地吸纳股性，同时不断地忘却人性！只有这样，才可能做到手中有股，心中无股，使自己与市场融为一体！ 
		
		<br/>39、曾经跌停难为鬼，除非解套才做人；炒底时难抛亦难，反弹无力割肉寒。 
		
		<br/>40、金钱世界从未有过秩序，甚至是混乱得没有条理的世界。当你相信规则时，你就是在哄骗自己进入一个危险的梦境。苏黎世定律没有专门告诉你应该保持清醒，不过，在所有的定律中隐含的意思，就是你需要这样做。不要让自己在模式和规则里打盹，要不你醒过来时，可能会发现自己已经破产了。 
		
		<br/>41、卖出时要决心果断，卖出后要经常看看。 
		
		<br/>42、地量见地价，先有地量，后有地价。 
		
		<br/>43、不论是期望股价上涨以便先买后卖的"多"头，还是期望股价不跌好先卖后买的"空头"，都可以在股市赚钱，只有贪得无厌，犹豫不决的人例外。 
		
		<br/>44、股市两样宝，好马加快刀。获利跑的快，割肉用快刀。不易被套。 
		
		<br/>45、选择投资目标要尽量符合自己的性格。 
		
		<br/>46、世上本没有跌停，割的人多了，就成了跌停。 
		
		<br/>47、长线是纸，短线是金。投机市如此。 
		
		<br/>48、我们也会有恐惧和贪婪，只不过在别人贪婪的时候我们恐惧，在别人恐惧的时候我们贪婪。 
		
		<br/>49、炒作就像动物世界的森林法则，专门攻击弱者，这种做法往往能够百发百中。 
		
		<br/>50、股市自古谁无赔，留着帐号给后人。 
		
		<br/>51、别人恐惧的时候，我贪婪；别人贪婪的时候，我恐惧。 
		
		<br/>52、上山爬坡缓慢走，烘云托月是小牛。 
		
		<br/>53、要知道你打扑克牌时，总有一个人会倒霉，如果你看看四周看不出谁要倒霉了，那就是你自己了。 
		
		<br/>54、不要将短期周转资金去炒股票。 
		
		<br/>55、如果自己没有时间或精力经营投资组合，可以考虑委托信托投资公司办理购买投资股票的基金。 
		
		<br/>56、人对事物的认识并不完整，并由此影响事物本身的完整，得出与流行观点相反的看法。流行的偏见和主导的潮流互相强化，直至两者之间距离大到非引起一场大灾难不可，这才是你要特别留意的，也正是这时才极可能发生暴涨暴跌现象。 
		
		<br/>57、如果晚上睡不着觉，那么就卖掉你的股票吧！本业第一，股票投资为辅，做股票能帮助致富，却不可视其为事业。 
		
		<br/>58、跌停不能无耻到这样的地步。 
		
		<br/>59、反弹不是底，是底不反弹。 
		
		<br/>60、赚钱的空间是跌出来的。 
		
		<br/>61、任何财富地位和权力地位都意味着重大的责任，股价越高，投资者的期望值就越高，如果股价高得离谱，期望值也会变得不现实。 
		
		<br/>62、能量朝稳步走高，五线向上牵大牛。 
		
		<br/>63、每次我读到某家公司削减成本的计划书时，我都想到这并不是一家真正懂得成本为何物的公司，短期内毕其功于一役的做法在削减成本领域是不起作用的，一位真正出色的经理不会在早晨醒来之后说今天是我打算削减成本的日子，就像他不会在一觉醒来后决定进行呼吸一样。 
		
		<br/>64、搞垮一个地方之后，美国券商就转移阵地，再接再厉。这种做法像流寇，也像农业上的修耕轮作：土壤需要时间恢复地力，股民也需要时间休养生。 
		
		<br/>65、价格是你所付出去的，价值是你所得到的，评估一家企业的价值部分是艺术部分是科学。 
		
		<br/>66、如何决定一家企业的价值呢？做许多阅读：我阅读所注意的公司的年度报告，同时我也阅读它的竞争对手的年度报告。 
		
		<br/>67、赢利才是硬道理，不论绩优绩差，不论投资投机，不论长线短线，只要能赢利就意味着投资成功。 
		
		<br/>68、必须要忍受偏离你的指导方针的**：如果你不愿意拥有一家公司十年，那就不要考虑拥有它十分钟。 
		
		<br/>69、一阳吞没了十阴，黄土变成金。 
		
		<br/>70、股票乃是安全性最高的"赌徒"，光凭"赌运"并不一定就能够成功，还有赖于思考力与忍耐力的结合。 
		
		<br/>71、确定长期的投资目标和原则，为股票交易的首要问题。 
		
		<br/>72、股市是没有围墙的社会财经大学，只有留级和重读，但永远没有毕业生。 
		
		<br/>73、最重要的是人品。金融投机需要冒很大的风险，而不道德的人不愿承担风险。这样的人不适宜从事高风险的投机事业。任何从事冒险业务却不能面对后果的人，都不是好手。在团队里，投资作风可以完全不同，但人品一定要可靠。 
		
		<br/>74、股市不是天天能赚钱的地方。 
		
		<br/>75、耐不住寂寞，拿不住钞票。 
		
		<br/>76、对一般存款未达"大款"水准的工薪阶层，把鸡蛋分放在三个蓝子，还不如把鸡蛋集中存放在保险柜里。 
		
		<br/>77、通道堵塞赶紧溜，通道不堵就不走。 
		
		<br/>78、在风险市场中：绝大多数的交易者盘前没有明确的交易计划与战略，而是临时在盘口中偷猎一些自我感觉良好的猎物，结果常出现被猎物反咬一口的伤痛。 
		
		<br/>79、面对阚治东，这个被包装过度的伪英雄至今仍然有人为之叫好，这恐怕是中国证券市场的最大悲哀。在商界群体中，证券业的伦理底线应该是最高的，这是由其从事的特殊职业特点决定的，券商是为别人打理钱财的委托人。而挪用客户保证金这样的“偷盗”行为竟然为我们证券市场的道德所容忍，还堂而皇之当上了证券公司的总裁，这只能说明，我们股市的价值体系还很成问题。 
		
		<br/>80、股市未来从来都是不确定的。谁也猜不准？ 
		
		<br/>81、生命总是迸发于混乱的边缘，所以，在混乱的状况中生存是我最擅长的。 
		
		<br/>82、三阴灭不了一阳，后市要看涨。 
		
		<br/>83、股市下跌时成交量可以不用放大，股市上长时成交量必须放大。 
		
		<br/>84、理解会计报表的基本组成是一种自卫的方式：当经理们想要向你解释清企业的实际情况时，可以通过会计报表的规定来进行。但不幸的是，当他们想要耍花招时（起码在部分行业）同样也能通过会计报表的规定来进行。如果你不能识别出其中的区别，你就不必在资产选择行业做下去了。 
		
		<br/>85、涨势形成不得不涨，跌势形成不得不跌。 
		
		<br/>86、判断对错并不重要，重要的在于正确时获取了多大利润，错误时亏损了多少。 
		
		<br/>87、会买的是徒弟，会卖的是师傅，会休息的是师爷。 
		
		<br/>88、如果操作过量，即使对市场判断正确，仍会一败涂地。
		
		<br/>89、大牛变疯牛，天量到了头。 
		
		<br/>90、周k线的一个价托涨三个月。 
		
		<br/>91、任何直接投资都是专业投资，而专业投资需要专业知识作基础。 
		
		<br/>92、始终遵守你自己的投资计划的规则，这将加强良好的自我控制！ 
		
		<br/>93、该买时犹豫，该卖时不舍票常常在犹豫中上涨，叫好声中下跌，物极必反。 
		
		<br/>94、天均线向下走，神仙想留却犯愁。
		
		<br/>95、不做研究就投资，和玩扑克牌不看牌面一样盲目。 
		
		<br/>96、股票投资，必须具备正确判断的能力，这样才不致于盲目随从，酿成失败！ 
		
		<br/>97、防止在高价位套牢，是学习买卖股票的最重要的一课。 
		
		<br/>98、得到的时候要懂得珍惜，不要等到失去的时候才知道珍贵。有钱赚的时候，任何价位卖出都是对的，只不过是赚多赚少的问题。如果有把握，可以继续持股；如果没把握，还是立刻兑现的好，不要等到将利润还给庄家时而后悔。有钱赚的时候为什么不走？即使卖错了也只是少赚而已，为什么非要等到亏损时才想着要斩仓呢？ 
        -->
    </div>   
    <!-- 列表展示结束 -->   
      
   
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    	
    	
    /*]]>*/
</script>
</body>
</html>