<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <title>用户管理</title>  
    <link rel="shortcut icon" th:href="@{/common/images/headlogo.ico}"/>         
    <link th:href="@{/hplus/css/plugins/layui/css/layui.css?v=4.1.0}" rel="stylesheet" />  
</head> 
  
<body>
	<div class="conditionDiv" style="margin-top:10px;margin-left:10px">    
		  <div style="float:right;margin-right:10px">                 
			  <div class="layui-inline">         
			    <input class="layui-input" placeholder="请输入股票代码或名称" name="inputSearch" id="inputSearch" autocomplete="off">
			  </div>
		      <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i>搜索</button> 
	      </div>  
	      <div style="height:35px"></div>                
	</div>     
	 
	<table class="layui-hide" id="tableGrid" lay-filter="tableGrid"></table>
	<script th:src="@{/hplus/js/jquery.min.js?v=2.1.4}"></script>     
    <script th:src="@{/hplus/css/plugins/layui/layui.js}"></script>   

	<script>  
	   var layer = null;     
	   layui.use(['layer', 'table'], function(){
		  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
		  var table = layui.table;        
		  table.render({//方法级渲染
		    elem: '#tableGrid',
		    url: '/dataAnalysis/macroDataList',
		    cols: [[   
		      {checkbox: true, fixed: true}, 
		      {field:'stockCode', width:90,title: '股票代码 '}, 
		      {field:'stockName', width:90, title: '股票名称'},
		      {field:'averagePrice', width:90, title: '平均股价'},   
		      {field:'nowPrice', width:90, title: '当前股价'},  
		      {field:'nowPriceDate', width:115, title: '当前股价日期',templet:'<div>{{ layui.util.toDateString(d.nowPriceDate, "yyyy-MM-dd") }}</div>'},
		      {field:'lowPrice', width:90, title: '历史最低'},
		      {field:'lowPriceDate', width:115, title: '历史最低日期',templet:'<div>{{ layui.util.toDateString(d.lowPriceDate, "yyyy-MM-dd") }}</div>'},
		      {field:'highPrice', width:90, title: '历史最高'},
		      {field:'highPriceDate',  width:115,title: '历史最高日期',templet:'<div>{{ layui.util.toDateString(d.highPriceDate, "yyyy-MM-dd") }}</div>'},
		      {field:'firstPrice', width:90, title: '首发股价'},  
		      {field:'firstPriceDate', width:115, title: '首发股价日期',templet:'<div>{{ layui.util.toDateString(d.firstPriceDate, "yyyy-MM-dd") }}</div>'},
		      {field:'nowAverageDiff', width:130, title: '当前与平均差值'},
		      {field:'nowLowDiff', width:130, title: '当前与最低差值'},
		      {field:'nowHighDiff', width:130, title: '当前与最高差值'},
		      {field:'nowFirstDiff', width:130, title: '当前与首发差值'},  
		    ]],       
		    id: 'tableGrid',     
		    page: true,
		    height : 'full-70'    
		  });                      
		         
		  var $ = layui.$, active = {
		    reload: function(){        //执行重载
		    	reloadData(); 
		    }
		  };    
		     
		  $('.conditionDiv .layui-btn').on('click', function(){   //按钮监听事件
		     var type = $(this).data('type');                     //根据data-type定义调用active的对应方法
		     active[type] ? active[type].call(this) : ''; 
		  });
		  
		  //搜索条件框div添加回车监听事件  
		  $("#inputSearch").bind("keydown",function(e){   
			    var theEvent = e || window.event;     // 兼容FF和IE和Opera    
			    var code = theEvent.keyCode || theEvent.which || theEvent.charCode;    
			    if (code == 13) {                     //回车执行查询
			    	reloadData();              
			    }    
		   });       
		});
	   
	   function reloadData(){
		   var inputSearch = layui.$('#inputSearch');    
		   layui.table.reload('tableGrid', {       
	         page: {
	           curr: 1 //重新从第 1 页开始
	         },
	         where: {
	        	 stockName: inputSearch.val()
	         }   
	      }, 'data');
	   }
	   
	</script>

</body>

</html>
