<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingyun.dao.HistoryDealDao">     

    <resultMap type="com.qingyun.entity.HistoryDeal" id="HistoryDeal">
        <id property="id" column="id"/>
        <result property="stockCode" column="stock_code"/>
        <result property="stockName" column="stock_name"/>
        <result property="dealDate" column="deal_date"/>
        <result property="dealUnitPrice" column="deal_unit_price"/>
        <result property="dealNum" column="deal_num"/>
        <result property="buySellFlag" column="buy_sell_flag"/>
        <result property="dealPriceTotal" column="deal_price_total"/>
        <result property="servicePrice" column="service_price"/>
        <result property="profitLoss" column="profit_loss"/>
        <result property="addDate" column="add_date"/>
    </resultMap>
    
    <insert id="saveHistoryDeal" parameterType="com.qingyun.entity.HistoryDeal" useGeneratedKeys="true" keyProperty="id">
	    insert into
	        stock.history_deal(stock_code,stock_name,deal_date,deal_unit_price,deal_num,buy_sell_flag,deal_price_total,service_price,profit_loss,add_date)
	    values
	        (#{stockCode},#{stockName},#{dealDate,jdbcType=TIMESTAMP},#{dealUnitPrice},#{dealNum},#{buySellFlag},#{dealPriceTotal},#{servicePrice},#{profitLoss},#{addDate,jdbcType=TIMESTAMP})
	</insert>
	
	<select id="findIdByStockCodeAndDate"  parameterType="map"  resultType="Integer">
        select id from stock.history_deal where stock_code = #{stockCode} and  DATE_FORMAT(add_date, '%Y-%m-%d %H:%i:%s') = #{addDate}
    </select>
    
    <delete id="deleteById" parameterType="Integer">
		delete from stock.history_deal where id=#{id}
	</delete>
	
	<select id="historyDealList" parameterType="map"  resultMap="HistoryDeal">
        select * from stock.history_deal where 1=1 
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
	    <if test="buySellFlag != null and buySellFlag != ''">
	        and buy_sell_flag=#{buySellFlag}
	    </if>
	    <!-- 判断条件参数是否为某值 -->
	    order by deal_date desc 
        limit #{startIndex} , #{pageSize}
    </select> 
    
    <select id="getTotalListSize"  parameterType="map" resultType="Integer">
        select count(id) from stock.history_deal  where 1=1  
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
	    <if test="buySellFlag != null and buySellFlag != ''">
	        and buy_sell_flag=#{buySellFlag}
	    </if>
	    <!-- 判断条件参数是否为某值 -->
    </select> 
    
    <select id="profitLossListByDate" parameterType="map"  resultMap="HistoryDeal">
        select stock_code,stock_name,DATE_FORMAT(deal_date, '%Y-%m-%d') as tradingDate, profit_loss,ROUND((profit_loss/(deal_price_total-profit_loss))*100,2) AS profitLossPercent  
        from stock.history_deal where buy_sell_flag='卖出' 
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
	    <!-- 判断条件参数是否为某值 -->
	    order by deal_date desc 
        limit #{startIndex} , #{pageSize}
    </select> 
    
    <select id="getTotalListSizeByDate"  parameterType="map" resultType="Integer">
        select count(id) from stock.history_deal  where buy_sell_flag='卖出'   
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
	    <!-- 判断条件参数是否为某值 -->
    </select> 
    
    <select id="profitLossListByType" parameterType="map"  resultMap="HistoryDeal">
         SELECT *, ROUND((profit_loss/(deal_price_total-profit_loss))*100,2) AS profitLossPercent  FROM 
		 (SELECT stock_code,MAX(stock_name) AS stock_name,SUM(profit_loss) AS profit_loss,SUM(deal_price_total) AS deal_price_total, 
		 GROUP_CONCAT(tradingDate) AS tradingDate FROM  
		 (SELECT stock_code,stock_name,DATE_FORMAT(deal_date, '%Y-%m-%d') AS tradingDate,
		  profit_loss,deal_price_total FROM stock.history_deal WHERE buy_sell_flag='卖出' 
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
	    <!-- 判断条件参数是否为某值 -->
	    order by deal_date ASC 
	    )a GROUP BY stock_code)b 
        limit #{startIndex} , #{pageSize}
    </select> 
    
    <select id="getTotalListSizeByType"  parameterType="map" resultType="Integer">
       SELECT COUNT(DISTINCT(stock_code)) FROM stock.history_deal WHERE buy_sell_flag='卖出' 
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
	    <!-- 判断条件参数是否为某值 -->
    </select> 
    
    <select id="getTotalMoney" parameterType="map"  resultMap="HistoryDeal">
        select IFNULL(SUM(profit_loss),0) AS profit_loss from stock.history_deal WHERE buy_sell_flag='卖出'
        <!-- 判断条件参数是否为空 -->
        <if test="inputSearch != null and inputSearch != ''">
	        and (stock_name like '%${inputSearch}%' or stock_code like '%${inputSearch}%' ) 
	    </if>
	    <if test="startDate != null and startDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[>=]]> #{startDate} 
	    </if>
	    <if test="endDate != null and endDate != ''">
	        and DATE_FORMAT(deal_date, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
	    </if>
    </select> 
    
    
</mapper>